SOCIALS_DB_USER=socials
SOCIALS_DB_NAME=socials
SOCIALS_DB_PASSWORD=__SOCIALS_DB_PASSWORD__

MAIN_URL=https://socials.kolab-inc.com
FRONTEND_URL=https://socials.kolab-inc.com
NEXT_PUBLIC_BACKEND_URL=https://socials.kolab-inc.com/api
BACKEND_INTERNAL_URL=http://localhost:3000
JWT_SECRET=__JWT_SECRET__
DISABLE_REGISTRATION=false
API_LIMIT=30

THREADS_APP_ID=
THREADS_APP_SECRET=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
META_WEBHOOK_VERIFY_TOKEN=__META_WEBHOOK_VERIFY_TOKEN__
META_DATA_DELETION_HASH_SECRET=__META_DATA_DELETION_HASH_SECRET__
META_GRAPH_VERSION=v25.0

LEGAL_ENTITY_NAME="KOLab Inc."
LEGAL_JURISDICTION="Hong Kong"
PRIVACY_EMAIL=contact@kolab-inc.com
